
.container {
  height: auto;
  width: auto;
  background-color: white;
  
  margin: 0 auto;
}

.caja-superior {
  height: 143px;
  width: 259px;
  background-color: #e1f1f8;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 25px;
  box-shadow: 0 6px 6px -6px black;
}

.caja-inferior {
  height: 254px;
  width: 259px;
  background-color: #e1f1f8;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 21px;
  box-shadow: 0 6px 6px -6px black;
  
}

.grafico {
  margin-right: 82px;
  margin-left: 83px;
  margin-top: 15px;
}

.caja-superior span {
  font-size: 10px;
  margin-left: 16px;
}

