input, select{
	transition: box-shadow 0.3s ease;
	width: 220px;
	height: 37px;
	margin: 15px 10px 15px 0;
	background-color: #f1fbff;
	border-radius: 4px;
	border: #e1f1f8;
	color: #1482af;
  padding: 0 10px;
}

select{
  cursor: pointer;
  width: 240px;
}
.cuenta__form{
  margin: 2.5rem 0 1rem 0;
}

ul li a{
  text-decoration: none;
  color: #1482af;
}

li{
  list-style: none;
  margin: 0.2rem 0.5rem;
}

.decorado{
  list-style: circle;
  margin: 0;
}

.cuenta-info {
	width: 221px;
	height: auto;
	background-color: rgb(225, 241, 248);
	margin-top: 9px;
	margin-bottom: 9px;
	border-radius: 10px;
	/* border: solid 1px black; */
	box-shadow: 0 6px 6px -6px black;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

.classic{
  background-color: rgb(225, 241, 248);
}

.gold{
  background-color: rgb(219 204 142);
}
.black{
  background-color: #0c0c0c;
  color: white;
}

.accordion-body {
  padding: 1rem 0.3rem;
}