input {
	transition: box-shadow 0.3s ease;
	width: 220px;
	height: 37px;
	margin: 15px 10px 15px 0;
	background-color: #f1fbff;
	border-radius: 4px;
	border: #e1f1f8;
	color: #1482af;
  padding: 0 10px;
}

ul li a{
  text-decoration: none;
  color: #1482af;
}

li{
  list-style: none;
  margin: 1rem;
}