{% extends 'render_templates/base.html' %}{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'render_templates/css/index.css' %}">
<link rel="stylesheet" href="{% static 'render_templates/css/login.css' %}">

{% endblock css %}
{% block content %}
<div class="cuerpo">
   <p> Ingrese su email</p>
<form action="" method="post" class="botones">{% csrf_token %}
{% if form.email.errors %} {{ form.email.errors }} {% endif %}
<p>{{ form.email }}</p>
<input type="submit" class="btn btn-default btn-lg" value="Reiniciar contraseña" />
</form>
</div>
{% endblock %}