{% extends 'render_templates/base.html' %} {% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'render_templates/css/index.css' %}">
<link rel="stylesheet" href="{% static 'render_templates/css/login.css' %}">
{% endblock css %}

{% block title %}Paquetes{% endblock title %}

{% block content %}
<div class="cuerpo">
  <div class="cuenta-info">
    <h2>Classic</h2>
  </div>
  <div class="cuenta-info gold">
    <h2>Gold</h2>
  </div>
  <div class="cuenta-info black">
    <h2>Black</h2>
  </div>
	<form class="cuerpo" action="" method="POST">
    {% csrf_token %}
    {{form}}
    <input class="Botones" type="submit" value="Siguiente Paso">
  </form>
  <ul>
    <li><a href="{% url 'login' %}">Iniciar sesion</a></li>
  </ul>
</div>

{% endblock content %}
