{% extends 'render_templates/base.html' %} {% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'render_templates/css/index.css' %}">
<link rel="stylesheet" href="{% static 'render_templates/css/login.css' %}">
{% endblock css %}

{% block title %}Registro{% endblock title %}

{% block content %}
<div class="cuerpo">
	<form class="cuerpo" action="" method="POST">
    {% csrf_token %}
    {% if 'dni-en-uso' in request.GET %}
    <label for="">
      <strong>
        <p style="color: rgb(121, 31, 31);">El dni ingresado ya se encuentra registrado.</p>
      </strong>
    </label>
    {%endif%}
    {{form}}
    <input class="Botones" type="submit" value="Siguiente Paso">
  </form>
  <ul>
    <li><a href="{% url 'login' %}">Iniciar sesion</a></li>
  </ul>
</div>

{% endblock content %}
