{% extends 'render_templates/base.html' %} {% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'render_templates/css/billeteras.css' %}">
<link rel="stylesheet" href="{% static 'render_templates/css/compraventausd.css' %}">
{% endblock css %}

{% block title %}Venta Dolar{% endblock title %}

{% block selector %}
<div class="btns-header">
  <div><a href="{% url 'billetera' %}"><button class="btn-1">Tu billetera</button></a></div>
  <div><a href="{% url 'tubanco' %}"><button class="btn-2">Tu banco</button></a></div>
</div>
{% endblock selector %}

{% block content %}
  
    <section id="tablaPrecioDolares">
      <!-- Carga de Dolares -->
    </section>

    <div class="actividad">
      <span> Última actividad <span>
              <p class="right"> <a href=""> Ver todo </a></p>
              <article class="transacciones">
                  <p class="fecha">15/04/2022 19:43:19</p>
                  <div>
                      <span> Compra dolares ...</span>
                      <span class="right"> $ XX.XXX.XX</span>
                  </div>
              </article>
              <article class="transacciones">
                  <p class="fecha">12/04/2022 21:15:44</p>
                  <div>
                      <span> Compra dolares ...</span>
                      <span class="right"> $ XXX.XX</span>
                  </div>
              </article>
              <article class="transacciones">
                  <p class="fecha">09/04/2022 11:21:59</p>
                  <div>
                      <span> Compra dolares ...</span>
                      <span class="right"> $ X.XXX.XX</span>
                  </div>
              </article>
  </div>



    </div>
    <footer id="barrafija">
      <div class="botonespie">
          <article class="center left"><a href="{%url 'billetera'%}"> <img src="{% static 'render_templates/assets/img/casa (1) 1.png' %}"></a></article>
          <article class="center left"><a href="{%url 'graficos'%}"><img src="{% static 'render_templates/assets/img/pie-chart 1.png' %} "></a></article>
          <article class="center left " id="QR"><a href=""><img src="{% static 'render_templates/assets/img/QR.png' %} "></a></article>
          <article class="center left"><a href=""><img src="{% static 'render_templates/assets/img/packard-bell 1.png' %} "></a></article>
          <article class="center left "><a href="{% url 'logout' %}"><img src="{% static 'render_templates/assets/img/logout.png' %}"></a></article>
      </div>
    </footer>
  
  <script src="{% static 'render_templates/js/actulizarPrecioDolar.js' %}"></script>
 

{% endblock content %}