{% extends 'render_templates/base.html' %} {% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'render_templates/css/graficos.css' %}">
<link rel="stylesheet" href="{% static 'render_templates/css/billeteras.css' %}">
{% endblock css %}

{% block title %}Graficos{% endblock title %}

{% block selector %}
<div class="btns-header">
  <div><a href="{% url 'billetera' %}"><button class="btn-1">Tu billetera</button></a></div>
  <div><a href="{% url 'tubanco' %}"><button class="btn-2">Tu banco</button></a></div>
</div>
{% endblock selector %}

{% block content %}
      <div class="caja-superior">
        
        <div class="span-cajasup">
          <span>Historico</span>
          <span>Abril</span>
          <span>Mayo</span>
          <span>Junio</span>
          <span>Julio</span>
        </div>

        <img
          class="grafico"
          src="{% static 'render_templates/assets/img/WhatsApp Image 2022-05-20 at 11.39.37 PM.jpeg' %}"
        />
      </div>

      <div class="caja-inferior"></div>

      <footer id="barrafija">
        <div class="botonespie">
            <article class="center left"><a href="{%url 'billetera'%}"> <img src="{% static 'render_templates/assets/img/casa (1) 1.png' %}"></a></article>
            <article class="center left"><a href="{%url 'graficos'%}"><img src="{% static 'render_templates/assets/img/pie-chart 1.png' %} "></a></article>
            <article class="center left " id="QR"><a href=""><img src="{% static 'render_templates/assets/img/QR.png' %} "></a></article>
            <article class="center left"><a href=""><img src="{% static 'render_templates/assets/img/packard-bell 1.png' %} "></a></article>
            <article class="center left "><a href="{% url 'logout' %}"><img src="{% static 'render_templates/assets/img/logout.png' %}"></a></article>
        </div>
      </footer>

    {% endblock content %}
