{% extends 'render_templates/base.html' %} {% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'render_templates/css/tubanco.css' %}">
{% endblock css %}

{% block title %}TuBanco{% endblock title %}

{% block selector %}
<div class="btns-header">
  <div><a href="{% url 'billetera' %}"><button class="btn-1">Tu billetera</button></a></div>
  <div><a href="#"><button class="btn-2">Tu banco</button></a></div>
</div>
{% endblock selector %}

  {% block content %}

    <div class="cuenta-info">
        <div class="tarjetasoc right">
            <div><a href=""><button class="tarjetaboton">Cambia tarjeta asociada</button></a></div>

        </div>
        <div class="num-caja">
            <p>CA $ ****{{caja_pesos.iban|slice:"20:24"}}</p>
        </div>

        <div id="dinero"><span>${% if caja_pesos.balance %}{{caja_pesos.balance}}{% else %}0{% endif %}</span></div>

    </div>
    <div class="containerTB">
        <article class="column left"><a href=""> <img src="{% static 'render_templates/assets/img/plazo fijo.png' %}"></a></article>
        <article class="column left"><a href=""><img src="{% static 'render_templates/assets/img/prestamos.png' %}"></a></article>
        <article class="column left"><a href=""> <img src="{% static 'render_templates/assets/img/turnos.png' %}"></a></article>
        <article class="column left"><a href=""><img src="{% static 'render_templates/assets/img/mi perfil.png' %}"></a></article>
        <article class="column left"><a href=""><img src="{% static 'render_templates/assets/img/billetera crypto.png' %}"></a></article>
        <article class="column left"><a href=""><img src="{% static 'render_templates/assets/img/mis gastos.png' %}"></a></article>
        <article class="column left"><a href="{% url 'compraventausd' %}"><img src="{% static 'render_templates/assets/img/compra  venta usd.png' %}"></a></article>
        <article class="column left"><a href=""> <img src="{% static 'render_templates/assets/img/fe de vida.png' %}"></a></article>
    </div>
    <div id="tarjetas">
        <p> Tus Tarjetas </p>
    </div>
    {% for tarjeta in tarjetas %}
    <div class="cuenta-info" id="tarjeta">
        <div class="tarjeta">
          <h4>Débito</h4> 
        </div>
      
        <div id="num-tarjeta">**** **** **** {{tarjeta.numero_tarjeta|slice:"12:16"}}</div>
    </div>
    {% endfor %}

    {% if not tarjetas %}
    <div class="cuenta-info">
      <p>No hay tarjetas disponibles...</p>
    </div>
    {% endif %}

    </div>




    </div>
    
    <footer id="barrafija">
      <div class="botonespie">
          <article class="center left"><a href="#"> <img src="{% static 'render_templates/assets/img/casa (1) 1.png' %}"></a></article>
          <article class="center left"><a href="{%url 'graficos'%}"><img src="{% static 'render_templates/assets/img/pie-chart 1.png' %} "></a></article>
          <article class="center left " id="QR"><a href=""><img src="{% static 'render_templates/assets/img/QR.png' %} "></a></article>
          <article class="center left"><a href=""><img src="{% static 'render_templates/assets/img/packard-bell 1.png' %} "></a></article>
          <article class="center left "><a href="{% url 'logout' %}"><img src="https://cdn-icons.flaticon.com/png/512/2984/premium/2984988.png?token=exp=1660509725~hmac=2645136fb40988058f23457389231fb5"></a></article>
      </div>
    </footer>


  {% endblock content %}
